/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: black;
}

header .grid {
  width: 100%;
  height: 100vh;
  top: 0;
  background: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 50% 25% 25%;
      grid-template-rows: 50% 25% 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .grid .box {
  background-color: black;
}

header .grid .box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}

header .grid .box img {
  background-color: black;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  cursor: pointer;
}

header .grid .box .img-show {
  display: block;
}

header .grid .box:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/span 1;
}

header .grid .box:nth-of-type(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/span 1;
}

header .grid .box:nth-of-type(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/span 1;
}

header .grid .box:nth-of-type(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/span 1;
}

header .grid .box:nth-of-type(5) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/span 1;
}

.container {
  width: 100%;
  height: 120vh;
  margin: 0 auto;
  background-color: black;
}

.container .box2 {
  width: 100%;
  height: 33.33%;
  background-color: #db913c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .box2 h1 {
  height: 10%;
  padding: 60px 30px 30px 30px;
  font-weight: 600;
  font-size: 2em;
}

.container .box2 p {
  height: 90%;
  color: #292929;
  line-height: 150%;
  padding: 30px;
}

.container .box-black {
  background-color: black;
}

.container .box-black h1 {
  color: #db913c;
  height: 10%;
  padding: 60px 30px 30px 30px;
  font-weight: 600;
  font-size: 2em;
}

.container .box-black p {
  color: #db913c;
  height: 90%;
  line-height: 150%;
  padding: 30px;
}

.container .box-ex {
  width: 100%;
  height: 33.33%;
  background-color: #d67608;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .box-ex h1 {
  position: absolute;
  padding: 60px 30px 30px 30px;
  font-weight: 600;
  font-size: 2em;
}

.container .box-ex div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .box-ex div p {
  font-weight: 600;
  font-size: 2em;
  color: white;
}

.container2 {
  width: 100%;
  height: 300vh;
  margin: 0 auto;
}

.container2 h1 {
  font-size: 4em;
  font-weight: 600;
  text-align: center;
  padding: 60px;
}

.container2 .box3-0 .box3 {
  width: 50%;
  height: 50vh;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dadada;
  border-radius: 20px;
  overflow: hidden;
}

.container2 .box3-0 .box3 .typo {
  width: 100%;
  height: 40%;
}

.container2 .box3-0 .box3 .typo h1 {
  text-align: center;
  font-size: 2em;
  padding: 16px 16px;
}

.container2 .box3-0 .box3 .typo p {
  color: #292929;
  padding: 0 16px 0 16px;
  text-align: center;
  line-height: 150%;
}

.container2 .box3-0 .box3 img {
  background-color: black;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60%;
}

.search {
  width: 100%;
  height: 15vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search h1 {
  color: white;
  font-size: 1.5em;
  padding-left: 16px;
}

.search .box-search {
  position: absolute;
  background: #d67608;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  right: 0;
  margin-right: 16px;
}

.search .box-search .search-btn {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d67608;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .box-search .search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 40px;
  width: 240px;
}

.studio {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.studio .logo-studio {
  width: 60%;
  height: 20vh;
}

.studio .logo-studio img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.studio .typo2 {
  width: 80%;
}

.studio .typo2 h1 {
  padding-top: 20px;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.studio .typo2 h6 {
  color: #777777;
  padding-top: 10px;
  font-size: 13px;
  text-align: center;
}

.studio .typo2 p {
  color: #292929;
  padding-top: 30px;
  line-height: 150%;
}

footer {
  width: 100%;
  height: 80vh;
  background-color: black;
  margin: 0 auto;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .credit {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .credit .footer-sub01 {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .credit .footer-sub01 h1 {
  padding-left: 30px;
  font-weight: 600;
  font-size: 2em;
  color: white;
}

footer .credit .footer-sub01 p {
  line-height: 150%;
  padding: 30px;
  color: #dadada;
}

footer .credit .footer-sub02 {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .credit .footer-sub02 p {
  cursor: pointer;
  font-weight: 600;
  padding-top: 16px;
  line-height: 150%;
  color: #d67608;
}

footer .credit .footer-sub02 p:hover {
  color: #37e0fd;
}

footer .credit .footer-sub03 {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .credit .footer-sub03 h1 {
  font-weight: 300;
  font-size: 20px;
  color: white;
}

footer .credit .footer-sub03 .footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

footer .credit .footer-sub03 .footer-icon i {
  cursor: pointer;
  margin-top: 16px;
  color: #d67608;
}

footer .credit .footer-sub03 .footer-icon i:hover {
  color: #37e0fd;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .copyright h1 {
  font-size: smaller;
  color: white;
}

@media screen and (min-width: 768px) {
  header {
    height: 80vh;
  }
  header .grid {
    height: 80vh;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 25% 25%;
        grid-template-rows: 25% 25%;
  }
  header .grid .box video {
    display: block;
  }
  header .grid .box .img {
    opacity: 0.4;
  }
  header .grid .box:hover > img {
    opacity: 1;
  }
  header .grid .box .img-show {
    display: none;
  }
  header .grid .box:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/span 4;
  }
  header .grid .box:nth-of-type(2) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
  }
  header .grid .box:nth-of-type(3) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
  }
  header .grid .box:nth-of-type(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/span 2;
  }
  header .grid .box:nth-of-type(5) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/span 2;
  }
  .container {
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container .box2 {
    height: 100%;
  }
  .container .box-ex {
    height: 100%;
  }
  .container2 {
    height: 80vh;
  }
  .container2 .box3-0 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container2 .box3-0 .box3 {
    margin: 0 16px 0 16px;
  }
  .search h1 {
    padding-left: 400px;
  }
  .search .box-search {
    margin-right: 400px;
  }
  .search .box-search .search-text {
    width: 0px;
  }
  .search .box-search:hover > .search-text {
    width: 240px;
    padding: 0 6px;
  }
  .studio {
    width: 80%;
    height: 50vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
  .studio .logo-studio {
    width: 30%;
    height: 30vh;
  }
  .studio .typo2 {
    width: 70%;
    height: 30vh;
  }
  .studio .typo2 h1 {
    text-align: start;
    padding-left: 30px;
  }
  .studio .typo2 h6 {
    text-align: start;
    padding-left: 30px;
  }
  .studio .typo2 p {
    padding: 30px;
  }
  footer {
    height: 60vh;
  }
  footer .credit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 16px;
  }
}
/*# sourceMappingURL=style.css.map */