@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//Define variables
$Background-color: rgb(0, 0, 0);
$primary-color: rgb(214, 118, 8);
$Secondary-color: rgb(219, 145, 60);
$Word-color: rgb(255, 255, 255);
$Subword-color: rgb(218, 218, 218);
$Subword2-color: rgb(41, 41, 41);
$Subword3-color: rgb(119, 119, 119);
$Hover-color: rgb(55, 224, 253);

body{
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: $Background-color;

    .grid{
        width: 100%;
        height: 100vh;
        top: 0;
        background: $Background-color;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50% 25% 25%;
        box-sizing: border-box;
        
        .box{
            background-color: $Background-color;

            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: none;
            }

            img{
                background-color: $Background-color;
                object-fit: cover;
                width: 100%;
                height: 100%;
                opacity: 0.6;
                cursor: pointer;
            }

            .img-show{
                display: block;
            }

            &:nth-of-type(1){
                grid-column: 1/span 4;
                grid-row: 1/span 1;
            }

            &:nth-of-type(2){
                grid-column: 1/span 2;
                grid-row: 2/span 1;
            }

            &:nth-of-type(3){
                grid-column: 3/span 2;
                grid-row: 2/span 1;
            }

            &:nth-of-type(4){
                grid-column: 1/span 2;
                grid-row: 3/span 1;
            }

            &:nth-of-type(5){
                grid-column: 3/span 2;
                grid-row: 3/span 1;
            }

        }
        
    }
}

.container{
    width: 100%;
    height: 120vh;
    margin: 0 auto;
    background-color: $Background-color;

    .box2{
        width: 100%;
        height: 33.33%;
        background-color: $Secondary-color;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h1{
            height: 10%;
            padding: 60px 30px 30px 30px;
            font-weight: 600;
            font-size: 2em;
        }

        p{
            height: 90%;
            color: $Subword2-color;
            line-height: 150%;
            padding: 30px;
        }
    }

    .box-black{
        background-color: $Background-color;

        h1{
            color: $Secondary-color;
            height: 10%;
            padding: 60px 30px 30px 30px;
            font-weight: 600;
            font-size: 2em;
        }

        p{
            color: $Secondary-color;
            height: 90%;
            line-height: 150%;
            padding: 30px;
        }
    }

    .box-ex{
        width: 100%;
        height: 33.33%;
        background-color: $primary-color;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h1{
            position: absolute;
            padding: 60px 30px 30px 30px;
            font-weight: 600;
            font-size: 2em;
        }

        div{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            p{
                font-weight: 600;
                font-size: 2em;
                color: $Word-color;
            }
        }
    }
}

.container2{
    width: 100%;
    height: 300vh;
    margin: 0 auto;

    h1{
        font-size: 4em;
        font-weight: 600;
        text-align: center;
        padding: 60px;
    }
    .box3-0{
        .box3{
            width: 50%;
            height: 50vh;
            margin: 0 auto;
            margin-top: 20px;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $Subword-color;
            border-radius: 20px;
            overflow: hidden;
    
            .typo{
                width: 100%;
                height: 40%;
                
                h1{
                    text-align: center;
                    font-size: 2em;
                    padding: 16px 16px;
                }
                p{
                    color: $Subword2-color;
                    padding: 0 16px 0 16px;
                    text-align: center;
                    line-height: 150%;
                }
            }
    
            img{
                background-color: $Background-color;
                object-fit: cover;
                width: 100%;
                height: 60%;
            }
        }
    }
}

.search{
    width: 100%;
    height: 15vh;
    background-color: $Background-color;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        color: $Word-color;
        font-size: 1.5em;
        padding-left: 16px;
    }

    .box-search{
        position: absolute;
        background: $primary-color;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        right: 0;
        margin-right: 16px;

        .search-btn{
            color: rgb(255, 255, 255);
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $primary-color;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search-text{
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: white;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 240px;
        }
    }
}

.studio{
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo-studio{
        width: 60%;
        height: 20vh;


        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .typo2{
        width: 80%;
        
        h1{
            padding-top: 20px;
            font-size: 2em;
            font-weight: 600;
            text-align: center;
            
        }

        h6{
            color: $Subword3-color;
            padding-top: 10px;
            font-size: 13px;
            text-align: center;
        }

        p{
            color: $Subword2-color;
            padding-top: 30px;
            line-height: 150%;
        }
    }
}

footer{
    width: 100%;
    height: 80vh;
    background-color: $Background-color;
    margin: 0 auto;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .credit{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer-sub01{
            width: 100%;
            height: 20vh;
            display: flex;
    
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h1{
                padding-left: 30px;
                font-weight: 600;
                font-size: 2em;
                color: $Word-color;
            }
    
            p{
                line-height: 150%;
                padding: 30px;
                color: $Subword-color;
            }
        }
    
        .footer-sub02{
            width: 100%;
            height: 20vh;
            display: flex;
            margin-top: 16px;
    
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            p{
                cursor: pointer;
                font-weight: 600;
                padding-top: 16px;
                line-height: 150%;
                color: $primary-color;
    
                &:hover{
                    color: $Hover-color;
                }
            }
        }
    
    
        .footer-sub03{
            width: 100%;
            height: 20vh;
            display: flex;
    
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h1{
                font-weight: 300;
                font-size: 20px;
                color: $Word-color;
            }
    
            .footer-icon{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
    
                i{
                    cursor: pointer;
                    margin-top: 16px;
                    color: $primary-color;
    
                    &:hover{
                        color: $Hover-color;
                    }
                }
            }
        }
    }

    .copyright{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        
        h1{
            font-size: smaller;
            color: $Word-color;
        } 
    }
}

@media screen and (min-width: 768px){
    header{
        height: 80vh;
        .grid{
            height: 80vh;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 25% 25%;

            .box{
                video{
                    display: block;
                }

                .img{
                    opacity: 0.4;
                }

                &:hover > img{
                    opacity: 1;
                }

                .img-show{
                    display: none;
                }

                &:nth-of-type(1){
                    grid-column: 1/span 3;
                    grid-row: 1/span 4;
                }
    
                &:nth-of-type(2){
                    grid-column: 4/span 1;
                    grid-row: 1/span 2;
                }
    
                &:nth-of-type(3){
                    grid-column: 5/span 1;
                    grid-row: 1/span 2;
                }
    
                &:nth-of-type(4){
                    grid-column: 4/span 1;
                    grid-row: 3/span 2;
                }
    
                &:nth-of-type(5){
                    grid-column: 5/span 1;
                    grid-row: 3/span 2;
                }
            }
        }
    }

    .container{
        height: 40vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        .box2{
            height: 100%;
        }

        .box-ex{
            height: 100%;
        }
    }

    .container2{
        height: 80vh;
        .box3-0{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            .box3{
                margin: 0 16px 0 16px;
            }
        }
    }

    .search{
        h1{
            padding-left: 400px;
        }
        .box-search{
            margin-right: 400px;

            .search-text{
                width: 0px;
            }

            &:hover > .search-text{
                width: 240px;
                padding: 0 6px;
            }
        }

    }

    .studio{
        width: 80%;
        height: 50vh;
        flex-direction: row;
        margin: 0 auto;

        .logo-studio{
            width: 30%;
            height: 30vh;
        }
        .typo2{
            width: 70%;
            height: 30vh;

            h1{
                text-align: start;
                padding-left: 30px;
            }

            h6{
                text-align: start;
                padding-left: 30px;
            }

            p{
                padding: 30px;
            }
        }
    }

    footer{
        height: 60vh;
        .credit{
            flex-direction: row;
            gap: 16px;
        }
    }
}